@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,700&display=swap');
*, body{
    box-sizing: border-box;
    margin: 0;
}

.container {
    background: #E5E5E5;
    width: 1440px;
    height: 768px;
    margin: 0 auto;

}

.container-image {
    position: absolute;
    padding-top: 134px;
    padding-left: 224px;
}

.container-text {
    position: absolute;
    width: 381px;
    height: 86px;
    margin-top: 632px;
    margin-left: 50px;

}

.content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;


}