@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,700&display=swap');
*, body{
    margin: 0;
    padding: 0;
    background: #EBEBEB;
    width: 100%;
}

.errors {
    position: absolute;
    text-align: center;
    height: 100%;
    top: 45%;
    left: auto;
    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;

}
.errors-head {
    color: rgb(20, 16, 8);
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.errors-text {
    padding: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
